alias tu="sudo sysctl debug.lowpri_throttle_enabled=0"
alias cl="clear"
alias l="ls -FA"
alias sb="source ~/.bash_profile"
alias sz="source ~/.zshrc"
alias j="jobs"
alias n="nvim"
alias vim="nvim"
alias gdb="gdb -quiet"

# chunkwm
alias chunk_start="brew services start crisidev/chunkwm/chunkwm"
alias chunk_stop="brew services stop crisidev/chunkwm/chunkwm"
alias chunk_restart="brew services restart chunkwm"
alias khd_start="brew services start khd"
alias khd_stop="brew services stop khd"
alias khd_restart="brew services restart khd"

# PostgreSQL
alias pgup="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
alias pgdown="pg_ctl -D /usr/local/var/postgres stop"

# MongoDB
alias mongod="ulimit -n 4096 && mongod"

# Rails
alias rlog="tail -f log/development.log"

# Git
alias gs="git status"
alias gc="git checkout ."
alias gb="git branch"
alias gl="git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# Xcode
alias xc-rm="""
rm -rf ${HOME}/Library/Developer/Xcode/DerivedData 
rm -rf ${HOME}/Library/Developer/Xcode/Archives 
rm -rf ${HOME}/Library/Developer/Xcode/Products
"""

# Stack
alias ghci="stack exec -- ghci"
alias ghc="stack ghc"

# Shortcuts
alias u="cd ~/uni/UNSW/18s2"
alias d="cd ~/dev"
alias o="cd ~/oss"
