# Goes up a certain amount of directories
# Usage: up 2
function up() {
  local d=""
  limit=$1
  for ((i=1 ; i <= limit ; i++))
    do
      d=$d/..
    done
  d=$(echo $d | sed 's/^\///')
  if [ -z "$d" ]; then
    d=..
  fi
  cd $d
}

# Start Pow.cx
function powup() {
  launchctl load ~/Library/LaunchAgents/cx.pow.powd.plist
  sudo launchctl load /Library/LaunchDaemons/cx.pow.firewall.plist
}

# Stop Pow.cx
function powdown() {
  launchctl unload ~/Library/LaunchAgents/cx.pow.powd.plist
  sudo launchctl unload /Library/LaunchDaemons/cx.pow.firewall.plist
}

# Branch diffs in Kaleidoscope
# Provide two branches e.g: gd master develop
# Or leave empty to diff current branch
function gd() {
  git difftool $1 $2 -y -t Kaleidoscope
}

# Git all in one
branch=$(git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ \1/')
function ga() {
  git add --all
  git commit -m "$1"
  git push origin $branch
}

# Delete local branch
#function gdb() {
#  git branch -D $1
#}

# Delete remote branch
function gdrb() {
  git push origin --delete $1
}

# Change git origin to ssh
function git-ssh() {
  REPO=$(basename `git rev-parse --show-toplevel`)
  git remote set-url origin git@github.com:lukakerr/$REPO.git
}

# Edit given folder in sublime
function e() {
  subl `find ~ -type d -iname $1 -maxdepth 3 -not -path '*/\.*' -print -quit`
}

# cd into found directory
function c() {
  cd `find ~ -type d -iname \*$1\* -maxdepth 5 -not -path '*/\.*' -print -quit`
}
